@import "tailwindcss";

/* Notre fond global gris clair avec les nouvelles classes Tailwind v4 */
@theme {
  --color-slate-50: #f8fafc;
  --color-slate-800: #1e293b;
}

body {
  background-color: var(--color-slate-50);
  min-height: 100vh;
  color: var(--color-slate-800);
}

.star-svg {
  display: inline-block !important;
}